USE [master]
GO
/****** Object:  Database [FOODSYSTEM]    Script Date: 08/23/2020 17:59:42 ******/
CREATE DATABASE [FOODSYSTEM] ON  PRIMARY 
( NAME = N'FOODSYSTEM', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FOODSYSTEM.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FOODSYSTEM_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FOODSYSTEM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FOODSYSTEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FOODSYSTEM]
GO
/****** Object:  Table [dbo].[OrderMst]    Script Date: 08/23/2020 17:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderMst](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[PName] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Qnt] [int] NULL,
	[TotalPrice] [float] NULL,
	[Image] [nvarchar](500) NULL,
	[Status] [int] NULL,
	[Edate] [datetime] NULL,
 CONSTRAINT [PK_OrderMst] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMst]    Script Date: 08/23/2020 17:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMst](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[BankName] [nvarchar](50) NULL,
	[CardNo] [nvarchar](50) NULL,
	[CCV] [nvarchar](50) NULL,
	[Amount] [float] NULL,
	[Edate] [datetime] NULL,
 CONSTRAINT [PK_PaymentMst] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMst]    Script Date: 08/23/2020 17:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMst](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nvarchar](50) NULL,
	[Lname] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Pincode] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Edate] [datetime] NULL,
 CONSTRAINT [PK_UserMst] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMst]    Script Date: 08/23/2020 17:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMst](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](50) NULL,
	[Detail] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[Image] [nvarchar](500) NULL,
	[Cname] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[EDate] [datetime] NULL,
 CONSTRAINT [PK_ProductMst] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[USERMST_UPDATE_PASSWORD]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USERMST_UPDATE_PASSWORD]

@UID AS INT,
@PASS AS NVARCHAR(200)
AS
BEGIN
UPDATE USERMST SET PASSWORD=@PASS WHERE UID=@UID
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_UPDATE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USERMST_UPDATE]

@UID AS INT,
@FNAME AS NVARCHAR(200),
@LNAME AS NVARCHAR(200),
@MOBILE AS NVARCHAR(200),
@GENDER AS NVARCHAR(200),
@ADD AS NVARCHAR(200),
@CITY AS NVARCHAR(200),
@PIN AS NVARCHAR(200)
AS
BEGIN
UPDATE USERMST SET FNAME=@FNAME,LNAME=@LNAME,MOBILE=@MOBILE,GENDER=@GENDER,ADDRESS=@ADD,CITY=@CITY,PINCODE=@PIN WHERE UID=@UID
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_SELECT_forgot_password]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USERMST_SELECT_forgot_password]

@email as nvarchar(256),
@mobile as nvarchar(256)
AS
BEGIN
SELECT * FROM USERMST where Email=@email and Mobile=@mobile
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_SELECT_for_login]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USERMST_SELECT_for_login]

@email as nvarchar(256),
@pass as nvarchar(256)
AS
BEGIN
SELECT * FROM USERMST where Email=@email and Password=@pass
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_SELECT_for_email]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USERMST_SELECT_for_email]

@email as nvarchar(256)
AS
BEGIN
SELECT * FROM USERMST where Email=@email
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_SELECT_BY_UID]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USERMST_SELECT_BY_UID]

@UID AS INT
AS
BEGIN
SELECT * FROM USERMST WHERE UID=@UID
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_SELECT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USERMST_SELECT]


AS
BEGIN
SELECT * FROM USERMST
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_INSERT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USERMST_INSERT]

@FNAME AS NVARCHAR(200),
@LNAME AS NVARCHAR(200),
@MOBILE AS NVARCHAR(200),
@GENDER AS NVARCHAR(200),
@ADD AS NVARCHAR(200),
@CITY AS NVARCHAR(200),
@PIN AS NVARCHAR(200),
@EMAIL AS NVARCHAR(200),
@PASS AS NVARCHAR(200)
AS
BEGIN
INSERT INTO USERMST VALUES(@FNAME,@LNAME,@MOBILE,@GENDER,@ADD,@CITY,@PIN,@EMAIL,@PASS,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[USERMST_DELETE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USERMST_DELETE]

@UID AS INT
AS
BEGIN
DELETE FROM USERMST WHERE UID=@UID
END
GO
/****** Object:  StoredProcedure [dbo].[PAYMENTMST_UPDATE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PAYMENTMST_UPDATE]
@PID AS INT,
@EMAIL AS NVARCHAR(200),
@TYPE AS NVARCHAR(200),
@BNAME AS NVARCHAR(200),
@CARDNO AS NVARCHAR(200),
@CCV AS INT,
@AMT AS FLOAT
AS
BEGIN
UPDATE PAYMENTMST SET EMAIL=@EMAIL,TYPE=@TYPE,BANKNAME=@BNAME,CARDNO=@CARDNO,CCV=@CCV,AMOUNT=@AMT WHERE PID=@PID 
END
GO
/****** Object:  StoredProcedure [dbo].[PAYMENTMST_SELECT_BY_PID]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PAYMENTMST_SELECT_BY_PID]

@PID AS INT
AS
BEGIN
SELECT * FROM PAYMENTMST WHERE PID=@PID 
END
GO
/****** Object:  StoredProcedure [dbo].[PAYMENTMST_SELECT_BY_EMAILL]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PAYMENTMST_SELECT_BY_EMAILL]

@EMAIL AS NVARCHAR(256)
AS
BEGIN
SELECT * FROM PAYMENTMST WHERE Email=@EMAIL
END
GO
/****** Object:  StoredProcedure [dbo].[PAYMENTMST_SELECT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PAYMENTMST_SELECT]


AS
BEGIN
SELECT * FROM PAYMENTMST
END
GO
/****** Object:  StoredProcedure [dbo].[PAYMENTMST_INSERT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PAYMENTMST_INSERT]

@EMAIL AS NVARCHAR(200),
@TYPE AS NVARCHAR(200),
@BNAME AS NVARCHAR(200),
@CARD AS NVARCHAR(200),
@CCV AS INT,
@AMT AS FLOAT
AS
BEGIN
INSERT INTO  PAYMENTMST VALUES (@EMAIL,@TYPE,@BNAME,@CARD,@CCV,@AMT,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[PAYMENTMST_DELETE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PAYMENTMST_DELETE]

@PID AS INT
AS
BEGIN
DELETE FROM PAYMENTMST WHERE PID=@PID
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTMST_UPDATE_PRICE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRODUCTMST_UPDATE_PRICE]

@PID AS INT,
@PRICE AS FLOAT
AS
BEGIN
UPDATE PRODUCTMST SET PRICE=@PRICE WHERE PID=@PID
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTMST_UPDATE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRODUCTMST_UPDATE]

@PID AS INT,
@PNAME AS NVARCHAR(200),
@DETAIL AS NVARCHAR(500),
@IMAGE AS NVARCHAR(500),
@CNAME AS NVARCHAR(200)
AS
BEGIN
UPDATE PRODUCTMST SET PNAME=@PNAME,DETAIL=@DETAIL,IMAGE=@IMAGE,CNAME=@CNAME WHERE PID=@PID
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTMST_SELECT_by_PID]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRODUCTMST_SELECT_by_PID]

@PID AS INT
AS
BEGIN
SELECT * FROM PRODUCTMST WHERE PID=@PID
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTMST_SELECT_by_CNAME]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRODUCTMST_SELECT_by_CNAME]

@CNAME AS NVARCHAR(200)
AS
BEGIN
SELECT * FROM PRODUCTMST WHERE CNAME=@CNAME
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTMST_SELECT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRODUCTMST_SELECT]


AS
BEGIN
SELECT * FROM PRODUCTMST 
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTMST_INSERT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRODUCTMST_INSERT]
@PNAME AS nvarchar(50),
@DETAIL  AS nvarchar(500),
@PRIcE  AS float,
@IMAGE  AS nvarchar(500),
@CNAME  AS nvarchar(50),
@STATUS  AS int

AS
BEGIN
INSERT INTO productmst VALUES(@PNAME,@DETAIL,@PRIcE,@IMAGE,@CNAME,@STATUS,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTMST_DELETE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRODUCTMST_DELETE]

@PID AS INT
AS
BEGIN
DELETE FROM PRODUCTMST WHERE PID=@PID
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_UPDATE_STATUS_BY_EMAIL]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_UPDATE_STATUS_BY_EMAIL]
@EMAIL AS NVARCHAR(256),
@STATUS AS INT
AS
BEGIN
UPDATE ORDERMST SET Status=@STATUS WHERE Email=@EMAIL AND Status=0

 END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_UPDATE_STATUS]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_UPDATE_STATUS]
@oid as int,
@STATUS AS INT
AS
BEGIN
UPDATE ORDERMST SET Status=@STATUS WHERE OID=@oid

 END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_UPDATE_PRICE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_UPDATE_PRICE]

@OID AS INT,
@PRICE AS FLOAT
AS
BEGIN
UPDATE ORDERMST SET PRICE=@PRICE WHERE OID=@OID
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_UPDATE_Cart_ALLREADY_ADD]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ORDERMST_UPDATE_Cart_ALLREADY_ADD]
@OID AS INT,
@QNT AS INT,
@TPRICE AS FLOAT
AS
BEGIN
UPDATE ORDERMST SET Qnt=@QNT , TotalPrice=@TPRICE WHERE OID=@OID END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_UPDATE_CART]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_UPDATE_CART]
@OID AS INT,
@QNT AS INT,
@TPRICE AS FLOAT
AS
BEGIN
UPDATE ORDERMST SET Qnt=QNT+@QNT , TotalPrice=TotalPrice+@TPRICE WHERE OID=@OID END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_UPDATE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_UPDATE]
@OID AS INT,
@EMAIL AS NVARCHAR(200),
@PNAME AS NVARCHAR(200),
@PRICE AS FLOAT,
@QNT AS INT,
@TPRICE AS FLOAT,
@IMAGE AS NVARCHAR(500),
@STATUS AS INT
AS
BEGIN
UPDATE ORDERMST SET EMAIL=@EMAIL,PNAME=@PNAME,PRICE=@PRICE,QNT=@QNT,TOTALPRICE=@TPRICE,IMAGE=@IMAGE,STATUS=@STATUS WHERE OID=@OID
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT_total_amt_pay]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ORDERMST_SELECT_total_amt_pay]
@email as nvarchar(256)
AS
BEGIN
SELECT SUM(totalprice)as tprice FROM ORDERMST where Email=@email and Status=0
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT_email-and_status]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ORDERMST_SELECT_email-and_status]
@email as nvarchar(256),
@status as int
AS
BEGIN
SELECT * FROM ORDERMST where Email=@email and Status=@status
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT_email_pname]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ORDERMST_SELECT_email_pname]
@email as nvarchar(256),
@pname as nvarchar(256)
AS
BEGIN
SELECT * FROM ORDERMST where Email=@email and PName=@pname and Status=0
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT_by_Status]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ORDERMST_SELECT_by_Status]
@status as int
AS
BEGIN
SELECT * FROM ORDERMST  where Status=@status
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT_by_PNAME]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_SELECT_by_PNAME]

@PNAME AS NVARCHAR(200)
AS
BEGIN
SELECT * FROM ORDERMST WHERE PNAME=@PNAME
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT_BY_OID]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_SELECT_BY_OID]
@OID AS INT
AS
BEGIN
SELECT * FROM ORDERMST WHERE @OID=OID 
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT_by_Email]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ORDERMST_SELECT_by_Email]
@email as nvarchar(256)
AS
BEGIN
SELECT * FROM ORDERMST  where Email=@email
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_SELECT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_SELECT]
AS
BEGIN
SELECT * FROM ORDERMST 
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_INSERT]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_INSERT]

@EMAIL AS NVARCHAR(200),
@PNAME AS NVARCHAR(200),
@PRICE AS FLOAT,
@QNT AS INT,
@TPRICE AS FLOAT,
@IMAGE AS NVARCHAR(500),
@STATUS AS INT
AS
BEGIN
INSERT INTO ORDERMST VALUES(@EMAIL,@PNAME,@PRICE,@QNT,@TPRICE,@IMAGE,@STATUS,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[ORDERMST_DELETE]    Script Date: 08/23/2020 17:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORDERMST_DELETE]

@OID AS INT
AS
BEGIN
DELETE FROM ORDERMST WHERE OID=@OID
END
GO
